# TODO: python 依赖管理工具有哪些？requirements.txt 太难用了。（我绷不住了... pip install -r requirements.txt 中文提示编码问题...）
# python3.12
django-ninja
django-ninja-crud
django-ninja-extra
redis
mongo
mongoengine
requests
aiohttp
orjson
uvicorn
starlette
# logfire # -> logfire.exceptions.LogfireConfigError: Failed to request a device code.
